body {
  display: flex;
  flex-direction: column;
  margin: 0;

  /*TEMP*/
  /*gap: 30px;*/
}

button {
  width: 150px;
  height: 40px;
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
}

/*  SECTION HEADER  */

header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  padding: 0 150px;
  align-items: center;
}

header p {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #f9faf8;
}

.header-links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  gap: 30px;
  padding: 0;
}

.header-links li {
  color: #f9faf8;
  font-size: 18px;
}

/*  SECTION ACCUEIL  */

.accueil {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0 150px;
  height: 500px;
  display: flex;
  align-items: center;
}

.container-accueil {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;

  THA FUCK CALISS!!!*/
}

.accueil-text-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accueil-title {
  font-weight: bold;
  font-size: 48px;
  color: #f9faf8;
}

.accueil-subtext {
  font-size: 18px;
  color: #f9faf8;
}

.accueil-img {
  margin-left: auto;
}

.presentoir {
  height: 235px;
  width: 600px;
  object-fit: cover;
  object-position: 50% 30%;
  margin-left: 30px;
}

/*  SECTION MAIN  */

main {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  height: 480px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.main-header p {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  color: #1f2937;
}

.main-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  flex-wrap: wrap;
  color: #1f2937;
}

.mais-list-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180px;
}

.mais-list-img img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  border: 3px solid #3882f6;
  border-radius: 16px;
}

/*  SECTION QUOTE  */

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-size: 24px;
  padding: 0 130px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

figcaption {
  align-self: flex-end;
  padding-right: 120px;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  padding: 0 150px;
  align-items: center;
  justify-content: center;
  height: 80px;
}
